#main {
  width:53%;
  height:30em;
  padding:1%;
  margin:1%;
  background:green;
  float:left;
  border: 0.2em solid red;
  -moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

aside {
  width:43%;
  height:30em;
  padding:1%;
  margin:1%;
  background:yellow;
  border: 0.2em solid red;
  float:right;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}

footer, header {
  clear:both;
  border: 0.2em solid red;
  padding:1%;
  margin:1%;
}

@media all and (max-width:480px){
  aside, #main{
    width:98%;
    padding:1%;
    margin:1%;
    background:blue;
  }
}