body {
  font-family: sans-serif;
}

/* Navigation styles */
#main-menu ul {
  list-style-type: none;
  padding-left: 10px;
  position: relative
}

#main-menu li {
  float: left
}

#main-menu li a {
  background: #778899;
  text-decoration: none;
  padding: 10px 20px;
  display: block
}

#main-menu li a:hover {
  background: skyblue;
  color: black
}

/* sub menu styles */
#main-menu ul li ul {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 1s, opacity 1s linear
}

#main-menu ul li:hover ul {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s
}

#main-menu ul li ul li {
  float: none;
  background: #778899
}

#main-menu ul li ul li:hover {
  background: magenta
}

#main {
  width:53%;
  height:30em;
  padding:1%;
  margin:1%;
  background:green;
  float:left;
  border: 0.2em solid red;
  -moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

aside {
  width:43%;
  height:30em;
  padding:1%;
  margin:1%;
  background:yellow;
  border: 0.2em solid red;
  float:right;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
}
nav {
  margin-bottom: 4em;
}
footer, header {
  clear:both;
  border: 0.2em solid red;
  padding:1%;
  margin:1%;
}

@media all and (max-width:480px){
  aside, #main{
    width:98%;
    padding:1%;
    margin:1%;
    background:blue;
  }
}